<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir build assets directamente
    RewriteRule ^build/(.*)$ public/build/$1 [L,QSA]

    # Redirigir storage files directamente
    RewriteRule ^storage/(.*)$ public/storage/$1 [L,QSA]

    # Redirigir todo lo demás a public
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
